    body{font-family:verdana,tahoma;}
    td{font-family:verdana,tahoma;}
    dt{font-weight:bold;}
    code{background:#eeeeee;}
    a:visited { color: #666666; }
    a:link { color: black; }
    a:active { color: white; background: black; }

    .sub-title { font-size: 120%; background: #00bb99; padding-left: 0.5em; }
    .sub-title a:visited { color: black; }
    .banner, .help { font-size: 150%; background: #00bb99; }
    .banner { margin-left: 0.5em; float: left; text-align: left; }
    .help { margin-right: 0.5em; text-align: right; }
    .help a:visited { color:black; }
    .logo { background: #ff2244; }
    .publisher-name { ; }
    .category-name { ; }
    .book-name { background:#eee;}
    .book-url { ; }
    .ext { font-size: 80%; }
    .review-text { background:#eeeeee;}
    .library-list, .category-list, .publisher-list { font-size: 100%; list-style-type: none; background:#eee; padding-left: 1em; }
    .category-list, .publisher-list { }
    .book-links { padding: 0 0.5em 1; }
    .nav { padding: 0 0 0 1em; width: 11em; float: left;}
    .index-body { padding: 0 0 0 10em; margin-left: 6em; margin-right: 15em; }
    .page { padding: 1em 0 0 0; }
    .body-block { background: #eee; }
    .body-block ul { list-style-type: none; }

