<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

  <context-param>
     <param-name>ReportRunnerDS</param-name>
     <param-value>EuroDev2DS</param-value>
  </context-param>

 <servlet>   
     <servlet-name>ReportRunnerServlet</servlet-name>      
     <servlet-class>org.osjava.reportrunner.ReportRunnerServlet</servlet-class>      
 </servlet>      
 <servlet-mapping>   
     <servlet-name>ReportRunnerServlet</servlet-name>      
     <url-pattern>/reportrunner</url-pattern>    
 </servlet-mapping>

 <servlet>   
     <servlet-name>ChooseReportServlet</servlet-name>      
     <servlet-class>org.osjava.reportrunner.ChooseReportServlet</servlet-class>      
 </servlet>      
 <servlet-mapping>   
     <servlet-name>ChooseReportServlet</servlet-name>      
     <url-pattern>/choosereport</url-pattern>    
 </servlet-mapping>

 <servlet>   
     <servlet-name>CheckParametersServlet</servlet-name>      
     <servlet-class>org.osjava.reportrunner.CheckParametersServlet</servlet-class>      
 </servlet>      
 <servlet-mapping>   
     <servlet-name>CheckParametersServlet</servlet-name>      
     <url-pattern>/checkparameters</url-pattern>    
 </servlet-mapping>

<resource-ref>
  <description>
    EuroDev2
  </description>
  <res-ref-name>jdbc/EuroDev2DS</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
</resource-ref>


</web-app>
