#include( "header.inc" )

<div class="stages"><a href="list_groups.vm">choose-group</a></div>

<div class="feedback">
<p>You have chosen to run from the <span class="chosen-data">$group.label</span> report group. </p>
<p>"$group.description"</p>
</div>

<div class="input">
<p>Which particular report would you like to run? </p>

<table>
#foreach( report in $reports )
    <tr><td><a href="choosereport?$RRR.GROUP=$group.name&$RRR.REPORT=$report.name">$report.label</a></td><td>$report.description</td><td><a href="xmlview?$RRR.GROUP=$group.name&$RRR.REPORT=$report.name">&lt;xml/&gt;</a></tr>
#end
</table>
</div>
#include( "footer.inc" )
