<?xml version="1.0"?>
<!DOCTYPE jpe.setup SYSTEM "http://www.submarine.nl/jpe/setup.dtd">
<setup>
<fontsize>15</fontsize>
<i18n>c:\jpe\jpe-src0.9\jpe.properties</i18n>
<currentdir>C:\generationjava\com\generationjava\generate\generators\</currentdir>
<selectedfile>C:\generationjava\com\generationjava\io\xml\XMLParser.java</selectedfile>
<fontname>Arial</fontname>
<recentmax>5</recentmax>
<machine>netbook</machine>
</setup>

<?xml version="1.0"?>
<!DOCTYPE jpe.recentfile SYSTEM "http://www.submarine.nl/jpe/recentfile.dtd">
<recentfile>
<filename>C:\generationjava\com\generationjava\cards\Card.java</filename>
</recentfile>

<?xml version="1.0"?>
<!DOCTYPE jpe.recentfile SYSTEM "http://www.submarine.nl/jpe/recentfile.dtd">
<recentfile>
<filename>C:\generationjava\com\generationjava\generate\util\ObjectModelHelper.java</filename>
</recentfile>

<?xml version="1.0"?>
<!DOCTYPE jpe.recentfile SYSTEM "http://www.submarine.nl/jpe/recentfile.dtd">
<recentfile>
<filename>C:\generationjava\com\generationjava\cards\Pack.java</filename>
</recentfile>

<?xml version="1.0"?>
<!DOCTYPE jpe.recentfile SYSTEM "http://www.submarine.nl/jpe/recentfile.dtd">
<recentfile>
<filename>C:\generationjava\com\generationjava\generate\generators\XMLPickler.java</filename>
</recentfile>

<?xml version="1.0"?>
<!DOCTYPE jpe.openfile SYSTEM "http://www.submarine.nl/jpe/openfile.dtd">
<openfile>
<locked>false</locked>
<filename>C:\generationjava\com\generationjava\io\xml\XMLParser.java</filename>
<cursorpos>0</cursorpos>
</openfile>

<?xml version="1.0"?>
<!DOCTYPE jpe.openfile SYSTEM "http://www.submarine.nl/jpe/openfile.dtd">
<openfile>
<locked>false</locked>
<filename>C:\generationjava\com\generationjava\generate\generators\XMLPickler.java</filename>
<cursorpos>0</cursorpos>
</openfile>

<?xml version="1.0"?>
<!DOCTYPE jpe.openfile SYSTEM "http://www.submarine.nl/jpe/openfile.dtd">
<openfile>
<locked>false</locked>
<filename>C:\generationjava\com\generationjava\foodilizer\Foodilizer.java</filename>
<cursorpos>2307</cursorpos>
</openfile>

<?xml version="1.0"?>
<!DOCTYPE jpe.openfile SYSTEM "http://www.submarine.nl/jpe/openfile.dtd">
<openfile>
<locked>false</locked>
<filename>c:\jpe\jpe-src0.9\\readme.txt</filename>
<cursorpos>0</cursorpos>
</openfile>

