LI { list-style-type: none }

.success_image, .failed_image { vertical-align: middle }

.success_link, .failed_link { font-size: larger }

.failed_link { background: red; padding: 2px }
.failed_link:link { color: white; }
.failed_link:visited { color: #ddd; }

.project_block { float: left; padding-right: 3em }

.build_info { padding-top: 1em; }

.error_text { color: red; }
